{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Completed{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
   <div class="col-sm-6 offset-sm-3">
    <h4 class="text-center">Reset Password Completed.</h4>
    <div class="col-sm-9 offset-sm-2 text-center">
        <h3 class="text-center">Password Change Successfully!!!</h3>
        <div><iframe src="https://tse4.mm.bing.net/th?id=OIP.hfyoUbeJELilu6nMJJC97gHaH2&pid=Api&P=0&h=180" width="200" heigth="200" allowfullscreen frameborder="0" class="gridy-embed"></iframe></div>
    </div>
</div>
</div>
</div>
{% endblock main-content %}